body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
  color: #111;
  background-color: #eee;
}

p {
  line-height: 30px;
}

.small {
  font-size: 16px;
}

h1 {
  font-size: 1.5em;
  color: #444;
}

h1 a:hover {
  color: #84596B;
}

h2 { 
  font-size: 1.2em;
  color: #333;
}

a {
  color: #777;
  text-decoration: none;
}

li {
  margin: 10px;
  line-height: 32px;
}

a:hover, .current {
  color: #84596B;
}

hr {
  border-top: 0.25em solid #ddd;
}

#container {
  width: 90%;
  padding-bottom: 20px;
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.video {
  padding-top: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#navigation {
  text-align: center;
  padding-bottom: 20px;
}

#avatar img {
  width: 120px;
  border-radius: 40px;

  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.icon img {
  width: 40px;
}

#navigation {
  margin: 20px 0 0 0;
  font-size: 40px;
}

.fieldset {
  margin-bottom: 30px;
}

.newsletter-form {
  margin-top: 50px;
}

.newsletter-form input {
  margin-top: 10px;
  width: 450px;
  border-style: solid;
  border-width: 1px;
}

.newsletter-form input[type='submit'] {
  width: 120px;
  height: 40px;
  margin-top: -8px;
}

.newsletter-form textarea {
  margin-top: 10px;
  width: 450px;
  height: 100px;
}

p.description {
  margin-bottom: 10px;
}

article.talk {
  margin-bottom: 120px;
}

/* Larger screens */
@media (min-width: 710px) {
  #container {
    width: 800px;
  }

  h1 {
    font-size: 1.5em;
  }

  #avatar img {
    width: 200px;
  }

  .icon img {
    width: 70px;
  }

  #navigation {
    margin: 40px 0 0 0;
    font-size: 70px;
  }
}
