<!DOCTYPE html>
<html>
  <head>
    <title>Ben Orenstein Personal Site</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <meta name='viewport'
          content='user-scalable=yes,
                   width=device-width,
                   initial-scale=1' >

    <link href="../../../../normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../faq.css" rel="stylesheet" type="text/css" />

    <link rel="icon"
          type="image/png"
          href="http://www.gravatar.com/avatar/e30754b725a8b734f1a507beac3063c6.png?s=32">
  </head>
  <body>
    <div id="navigation">
      <a id="avatar"
         title="@r00k"
         href="/">
         <img src="http://www.gravatar.com/avatar/e30754b725a8b734f1a507beac3063c6.png?s=200" alt="Ben Orenstein" />
      </a>
      <a title="twitter"
         href="http://twitter.com/r00k"
         class="ss-icon ss-social-circle">
         twitter
      </a>
      <a title="blog"
         href="http://www.benorenstein.com/blog"
         class="ss-icon ss-social-circle">
         rss
      </a>
      <a title="github"
         href="https://github.com/r00k"
         class="ss-icon ss-social-circle">
         githuboctocat
      </a>
      <a title="talks"
         href="/talks"
         id="talks"
         class="ss-icon ss-social-circle">
         thumbsup
      </a>
      <a title="email"
         href="mailto:ben.orenstein@gmail.com"
         class="ss-icon ss-social-circle">
         email
      </a>
    </div>

    <div id='container faq'>
      {{ content }}
    </div>
  </body>
</html>
