<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="google-site-verification" content="peDoHitXF-bFy7tQ1acMu98mtYikZe0LaB2FzkhOgrA" />

    <meta name='viewport'
          content='user-scalable=yes,
                   width=device-width,
                   initial-scale=1' >

    <link href="../../../../normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../style.css" rel="stylesheet" type="text/css" />

    <link rel="icon"
          type="image/png"
          href="/images/favicon.ico">
  </head>
  <body>
    <div id='container'>
      {{ content }}
    </div>
  </body>
</html>
